body{
    background-color: #cbcbcb;
}
footer{
    background-color: #444444;
}
.bg-header{
    background-image: url(../IMG/bg-header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
.margen{
    margin-right: 0.1px;
}